/* Module imports */
@import '00_base';
@import '01_atom';
@import '02_molecule';
@import '03_organism';








@import '04_template';

/* Custom styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;

    @mixin font-smoothing;
}

.test-paragraph {
  color: $v-col-indigo;
  margin-$(dir-top): $u-margin;

  & > span {
    font-weight: bold;
  }
}
